/* 초기화 */
*{margin:0; padding:0; list-style:none; text-decoration:none;}
body{background:#eaeaea;}
#wrap{width:100%; margin:0 auto; padding-bottom:80px;}
header{position:fixed; z-index:10; width:100%; height:114px; top:0; left:0; background:#fff;border-bottom:1px solid #ccc;}
h1{float:left; padding:25px;}
nav{float:right; padding-top:60px;}
nav li{float:left;}
nav li a{padding:10px 20px; color:#666;}
nav li.on a{font-weight:600; color:#000;}
section{position:relative; overflow:hidden; margin-top:115px;}
section .item{height:800px; padding:20px;}
#profile{background:#fafafa;}
#work{background:#eee;}
#email{background:#ccc;}
footer{padding-top:40px; text-align:center; font-size:14px;}

/* aos */
.aos{border:1px solid red;}


/* 갤러리 */
.image_table {width:1200px;margin:0 auto;}
.image_table ul {font-size:0;text-align:center;}
.image_table ul li {font-size:12px;display:inline-block;vertical-align:top;width:25%;}
.image_table ul li a {text-decoration:none;}
.image_table ul li a {display:block;width:auto;background:#f5f5f5;margin:5px;}
.image_table ul li a .screen {overflow:hidden;font-size:0;height:160px;} /* 이미지를 담은 박스 스타일 : 이 영역보다 크면 가리워지는 코드 overflow:hidden; absolute의 기준을 잡기 위해 position:relative를 적용*/
.image_table ul li a img {width:100%;transition:transform 1s;}
.image_table ul li a h3 {font-size:16px;color:#000;} /* 제목 스타일 */
.image_table ul li a p {padding:12px;color:#666;} /* 내용 스타일 */
.image_table ul li a:hover img {transform:scale(1.2);}

/* 테이블 */
.table{width:100%; margin-top:40px;}
.table, .table th, .table td{border:1px solid #ccc;}
.table th, .table td{padding:5px;}
.table th{background:#eaeaea;}